:root {
    /* colors */
    --clr-white: hsl(0, 0%, 100%);

    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-300: hsl(216, 15%, 48%);
    --clr-slate-300: hsl(218, 44%, 22%);

    /* font size */
    --fs-400: 0.9375rem;

    /* font weight */
    --fw-regular: 400;
    --fw-bold: 700;

    /* components */
}

body {
    font-family: "Outfit", sans-serif;
}